# Server
HOST=0.0.0.0
PORT=8000

# Storage
DOWNLOADS_DIR=./downloads
CLIPS_DIR=./clips

# Whisper
WHISPER_MODEL=base

# yt-dlp
FFMPEG_PATH=./ffmpeg_bin
YT_DLP_COOKIES_FILE=

# Celery / Redis
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0
